/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-ctabutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: #fff;
    background-color: rgb(37, 169, 137);
    width: 306px;
    height: 55px;
    border-radius: 27.5px;
    margin-top: 30px;
    letter-spacing: 6px;
    font-feature-settings: "palt";
}
