/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-ctabutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    color: #fff;
    background-color: rgb(37, 169, 137);
    width: 306px;
    height: 55px;
    border-radius: 27.5px;
    letter-spacing: 6px;
    font-feature-settings: "palt";
    transform: translate(-5px, -17px);
}


@media  screen and (max-width: 1024px) {
    .c-ctabutton {
        font-size: 1.6rem;
        width: 200px;
        height: 35px;
    }
}
@media  screen and (max-width: 768px) {
    .c-ctabutton {
        transform: translate(9px, -18px);
    }
}
