/*------------------------------------------------------------
using
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-product {
    padding-top: 73px;

    .c-product__header {
        text-align: center;
        font-weight: 400;

        .c-product__subheader {
            line-height: 1.7;
            letter-spacing: 2px;
            font-size: 2rem;
            transform: translateX(-4px);
        }

        .c-product__mainheader {
            line-height: 1;
            font-size: 4.6rem;
            letter-spacing: 9.2px;
        }
    }

    .c-product__list {
        display: flex;
        justify-content: space-between;

        .c-product__item {
            display: flex;
            align-items: center;
            flex: 1;

            &:first-child {
                position: relative;
                transform: translate(78px, -2px);

                &::before {
                    position: absolute;
                    content: "";
                    top: -52px;
                    left: -50px;
                    width: 154px;
                    height: 36px;
                    background: url("./assets/img/daily.png");
                }

                .c-product__label {
                    margin-top: -43px;
                    padding-bottom: 6px;
                }
            }

            &:nth-child(2) {
                transform: translate(-41px, 33px);

                .c-product__label {
                    margin-top: -26px;
                    padding-bottom: 6px;
                }
            }

            &:nth-child(3) {
                transform: translate(-54px, 32px);

                .c-product__label {
                    margin-top: -23px;
                    padding-bottom: 6px;
                    padding-left: 12px;
                    transform: translate(4px, -1px);
                }
            }

            &:nth-child(4) {
                position: relative;
                transform: translate(-9px, 0);
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: -54px;
                    left: -55px;
                    width: 154px;
                    height: 36px;
                    background: url("./assets/img/daily.png");
                }

                .c-product__label {
                    margin-top: -5px;
                    padding-bottom: 6px;
                    padding-left: 20px;
                }
            }
        }

        @include tab {
            flex-direction: column;
            margin-top: 100px;

            .c-product__item {
                align-self: center;

                &:first-child {
                    transform: translate(0, 0);
                }

                &:nth-child(2) {
                    transform: translate(0, 0);
                    flex-direction: row-reverse;
                }

                &:nth-child(3) {
                    transform: translate(0, 0);
                }

                &:last-child {
                    transform: translate(0, 70px);
                    flex-direction: row-reverse;

                    &::before {
                        left: 163px;
                    }
                }
            }
        }
    }

    .c-product__listbottom {
        display: flex;
        justify-content: space-between;
        margin-top: 122px;

        .c-product__item {
            display: flex;
            align-items: center;
            flex: 1;

            &:first-child {
                position: relative;
                transform: translate(92px, -2px);

                .c-product__label {
                    margin-top: -43px;
                    padding-bottom: 3px;
                    padding-left: 0;
                }
            }

            &:nth-child(2) {
                transform: translate(40px, 42px);

                &::before {
                    position: absolute;
                    content: "";
                    top: -50px;
                    left: 2px;
                    width: 117px;
                    height: 67px;
                    background: url("./assets/img/recommend.png");
                    background-repeat: no-repeat;
                }

                .c-product__label {
                    margin-top: 30px;
                    padding-bottom: 6px;
                    padding-left: 45px;
                    margin-left: -52px;
                }
            }

            &:nth-child(3) {
                transform: translate(-57px, 17px);
                flex-direction: row-reverse;

                .c-product__label {
                    margin-top: -38px;
                    padding-bottom: 6px;
                    padding-right: 6px;
                }
            }

            &:nth-child(4) {
                transform: translate(-81px, -66px);
                flex-direction: row-reverse;

                .c-product__label {
                    margin-bottom: 43px;
                    letter-spacing: 1.5px;
                    margin-right: -58px;
                    padding: 0 54px 4px 0;
                    width: 230px;
                    text-align: left;
                    z-index: -1;
                    transform: translate(-7px, -3px);
                    z-index: -1;
                }
            }
        }

        @include tab {
            flex-direction: column;
            margin-top: 100px;

            .c-product__item {
                align-self: center;

                &:first-child {
                    transform: translate(0, 0);
                    margin-bottom: 40px;
                }

                &:nth-child(2) {
                    transform: translate(0, 0);
                    flex-direction: row-reverse;

                    &::before {
                        left: 75px;
                    }
                }

                &:nth-child(3) {
                    transform: translate(0, 37px);
                    flex-direction: row;

                }

                &:last-child {
                    transform: translate(0, 70px);
                    flex-direction: row-reverse;

                    &::before {
                        left: 163px;
                    }
                }
            }
        }
    }

    .c-product__label {
        padding-left: 10px;
        color: #333;
        border-bottom: 1px dotted rgb(85, 85, 85);
        letter-spacing: 1.4px;
        text-align: left;
        position: relative;
    }

    @include sp {
        padding-top: 36px;

        .c-product__header {
            .c-product__subheader {
                letter-spacing: 1.2px;
                font-size: 1.2rem;
                transform: translateX(-2px);
            }
    
            .c-product__mainheader {
                font-size: 2rem;
                letter-spacing: 4.2px;
            }
        }
    }
}
