///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// img fulfill
//------------------------------------------------------------
.u-imgfulfill {
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------

.u-textblue {
    color: #176b6a;
}

.u-textdark {
    color: #333;
}
