/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 0 30px 30px;
    background: url("./assets/img/mainbg.jpg");

    .c-footer__container {
        background-color: #fff;
        padding: 0 30px;
    }

    .c-footer__image {
        padding-top: 85px;
        text-align: center;
    }

    .c-footer__content {
        padding: 114px 0 64px;
        display: flex;
        justify-content: space-between;
    }

    .c-footer__info {
        color: #282828;
        font-size: 1.4rem;
        letter-spacing: 1.4px;
        line-height: 1.7;
    }

    .c-footer__phone {
        letter-spacing: 1.7px;
    }

    .c-footer__time {
        letter-spacing: 1.5px;
    }

    .c-footer__logo {
        transform: translate(0, 6px);
    }

    @include tab {
        padding: 0 15px 15px;

        .c-footer__container {
            padding: 0 15px;
        }
    }
}
