/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    color: #fff;
    top: 65px;
    left: 0;
    z-index: 9999;

    .c-header__navitem {
        margin-bottom: 15px;
    }

    .c-header__navlink {
        background-image: url("/assets/img/menubg.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 198px;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        padding-left: 20px;
        letter-spacing: 1.4px;
    }

    /*------------- HEADER SMART PHONE 
    --------------------------*/
    .c-header__toggleopen,
    .c-header__toggleclose {
        display: none;
    }

    .c-header__leaf{
        display: none;

        @include tab {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    .c-header__leaftop {
        width: 150px;
        position: absolute;
        top: -75px;
        left: 0;
    }
    .c-header__leafbottom {
        width: 238px;
        position: absolute;
        right: 0;
        top: 39%;
    }
}

/* Main menu
------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
    .c-header {
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: all 0.5s ease;

        .c-header__nav {
            background-color: rgb(31, 66, 66);
            height: 100%;
            padding-top: 75px;
        }

        .c-header__navitem {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            margin: 0 15px;
            border-bottom: 1px solid #3a5656;
        }

        .c-header__navlink {
            font-size: 2rem;
            justify-content: center;
            text-align: center;
            background-image: none;
            background-color: rgb(31, 66, 66);
        }

        .c-header__toggleopen,
        .c-header__toggleclose {
            display: block;
            position: fixed;
            color: #fff;
            top: 15px;
            left: 15px;
            width: 45px;
            height: 45px;
            z-index: 99999;
        }

        .c-header__toggleclose {
            display: none;
        }
    }
}
