/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    color: #000;
    background-image: url("assets/img/mainbg.jpg");
    line-height: 1.5;
    position: relative;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
//-------------------------------------------------------
.l-container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;

    &--w1030 {
        max-width: 1030px;
    }

    &--w1060 {
        max-width: 1060px;
    }
}
//-------------------------------------------------------
