<%- include('_layouts/layout', { title: 'Mentha Oil' }); -%>

<!-- @meta -->
<meta name="description" content="Mentha oil home page" />
<!-- @@meta -->

<!-- @content -->
<main class="p-home">
  <div class="p-home__content">
    <!-- BANNER SECTION -->
    <section class="c-banner" id="banner">
      <div class="c-banner__content l-container">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="./assets/img/banner-sp.jpg"
          />
          <img src="./assets/img/banner.png" alt="" />
        </picture>

        <div class="c-banner__info">
          <h1 class="c-banner__prodname">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="./assets/img/banner-brand-sp.png"
              />
              <img src="./assets/img/banner-bran.png" alt="" />
            </picture>
          </h1>

          <div class="c-slogan">
            <p class="c-slogan--sub">ハッカ油は、毎日の暮らしを豊かにする</p>
            <p class="c-slogan--main">魔法のしずく</p>
          </div>

          <a class="c-ctabutton" href="#">ハッカ？ミント？</a>
        </div>
      </div>
    </section>

    <!-- PRODUCT LIST -->
    <section class="c-product l-container" id="product">
      <div class="c-product__header">
        <p class="c-product__header c-product__subheader">使い方いろいろ</p>
        <h2 class="c-product__header c-product__mainheader">毎日にハッカ油</h2>
      </div>

      <div class="c-product__body">
        <div class="c-product__list">
          <a href="#" class="c-product__item">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="./assets/img/pro1-sp.png"
                alt="ハッカ水"
              />
              <img
                class="c-product__image"
                src="/assets/img/pro1.png"
                alt="ハッカ水"
              />
            </picture>
            <span class="c-product__label">ハッカ水</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro2.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカの虫除けスプレー</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro3.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカのリネンウォーター</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro4.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカのエアフレッシュナー</span>
          </a>
        </div>
        <div class="c-product__listbottom">
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro5.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカの清涼スプレー</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro6.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカマスク</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro7.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカで安息</span>
          </a>
          <a href="#" class="c-product__item">
            <img
              class="c-product__image"
              src="/assets/img/pro8.png"
              alt="ハッカ水"
            />
            <span class="c-product__label">ハッカの入浴剤</span>
          </a>
        </div>
      </div>
    </section>

    <!-- USAGE -->

    <section class="c-usage" id="usage">
      <div class="c-usage__content l-container l-container--1060">
        <% if(typeof usage !== 'undefined') { %> <% usage.main && usage.main.forEach((element, index) => { %>
        <div class="c-usage__pointblock">
          <div class="c-usage__header">
            <div class="c-usage__number">
              <img src="<%= element.header.icon %>" alt="<%= "number"+index %>"/>
              <hr class="c-usage__line" />
              <p class="c-usage__label">point</p>
            </div>
            <div class="c-usage__headercontent">
              <h2 class="c-usage__mainheader u-textblue">
                <%= element.header.mainHeader %>
              </h2>
              <p class="c-usage__subheader">
                <%= element.header.subHeader.first %>
              </p>
              <p class="c-usage__subheader">
                <%= element.header.subHeader.second %>
              </p>
            </div>
          </div>

          <div class="c-usage__images">
            <% element.content.forEach(el => { %>
            <div class="c-usage__imageitem">
              <img
                class="u-imgfulfill"
                src="<%=el.image %>"
                alt="<%= el.mainHeader %>"
              />
              <img
                class="c-usage__viewmore"
                src="./assets/img/btn_more.png"
                alt="btn_more"
              />
              <div class="c-usage__imageconent">
                <div class="c-usage__imagecontainer">
                  <h3 class="c-usage__imgheader u-textblue">
                    <%= el.mainHeader %>
                  </h3>
                  <hr class="c-usage__imgline" />
                  <p class="c-usage__imgdes"><%= el.description %></p>
                  <a href="#" class="c-usage__imglink">ハッカ油コラムへ</a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <% }) %> <% } %>
      </div>

      <div class="c-usage__bottom l-container">
        <h4 class="c-usage__headerbot u-textblue">
          お買い求めは全国のドラッグストア、またはこちらから
        </h4>
        <div class="c-usage__brands">
          <% if(typeof partner !== 'undefined') {%> <% partner.forEach(item => {%>
          <a href="#" target="_blank" class="c-usage__brandlogo">
            <img
              src="<%= item.image %>"
              alt="お買い求めは全国のドラッグストア、またはこちらから"
            />
          </a>
          <% }) %> <%}%>
        </div>

        <p class="c-usage__brandweb">
          Amazon、Amazon.co.jp、及びAmazon.co.jpロゴはAmazon.com,
          Inc.又はその関連会社の商標です。
        </p>
      </div>
    </section>

    <!-- Q&A -->
    <section class="c-qa l-container l-container--min" id="q&a">
      <div class="c-qa__container">
        <h2 class="c-qa__header u-textblue">Q&A</h2>
        <dl class="c-qa__content">
          <% if (typeof questionList !== 'undefined' ) { %> <%questionList.forEach(item => { %>
          <div class="c-qa__questionitem">
            <dt class="c-qa__question">
              <img src="./assets/img/question_icon.png" alt="Q&A" />
              <h3 class="c-qa__questioncontent u-textblue">
                <%= item.question %>
              </h3>
            </dt>
            <dd class="c-qa__answer"><%= item.answer%></dd>
          </div>
          <% }) %> <% } %>
        </dl>
      </div>
    </section>

    <!-- FEATURE -->
    <section class="feature" id="feature">
      <div class="feature__content l-container l-container--1060">
        <div class="c-feature__imgcontainer">
          <figure>
            <img
              class="c-feature__img"
              src="./assets/img/feature-banner.jpg"
              alt="「ハッカ油コラム」へ"
            />
          </figure>
        </div>

        <div class="c-feature__body">
          <% if (typeof feature !== 'undefined') { %> <% feature.forEach(item =>{ %>

          <div class="c-feature__item u-textdark">
            <a href="#">
              <div class="c-feature__itemheader">
                <div class="c-feature__itemimage">
                  <img src="<%= item.image %>" alt="<%= item.mainHeading %>" />
                </div>
                <div class="c-feature__heading">
                  <h3 class="c-feature__subheading"><%= item.subHeading %></h3>
                  <h2 class="c-feature__mainheading">
                    <%= item.mainHeading %>
                  </h2>
                </div>
              </div>
              <p class="c-feature__itemcontent"><%= item.content %></p>

              <img
                class="c-feature__chevron"
                src="./assets/img/arrow-icon.png"
                alt="chevron right"
              />
            </a>
          </div>
          <% }) %> <% } %>
        </div>
      </div>
    </section>
  </div>

  <!-- LEAFS -->
  <div class="c-leafs">
    <picture>
      <source media="(max-width: 1024px)" srcset="./assets/img/leaf1-sp.png" />
      <img src="./assets/img/leaf1.png" alt="Top leaf" class="c-leafs__top" />
    </picture>

    <picture>
      <source media="(max-width: 1024px)" srcset="./assets/img/leaf2-sp.png" />
      <img
        src="./assets/img/leaf2.png"
        alt="Side leaf"
        class="c-leafs__right"
      />
    </picture>
  </div>

  <!-- BUBBLE -->
  <div class="c-bubble">
    <img
      src="./assets/img/bubble1.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item1"
    />
    <img
      src="./assets/img/bubble2.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item2"
    />
    <img
      src="./assets/img/bubble3.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item3"
    />
    <img
      src="./assets/img/bubble4.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item4"
    />
    <img
      src="./assets/img/bubble5.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item5"
    />
    <img
      src="./assets/img/bubble6.png"
      alt="bubble main visual"
      class="c-bubble__item c-bubble__item6"
    />
  </div>
</main>
<!-- @@content -->

<!-- @script -->
<!-- @@script -->
