<footer class="c-footer" id="footer">
  <div class="c-footer__container ">
    <div class="l-container l-container--w1060">
      <div class="c-footer__image ">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/footer-banner-sp.jpg">
          <img src="./assets/img/footer-banner.jpg" alt="さわやかハッカ油で虫除け対策のイメージ写真">
        </picture>
      </div>
      <div class=" c-footer__content l-container l-container--w1030">
        <div class="c-footer__info">
          <p>商品に関するお問い合わせは</p>
          <p>健栄製薬株式会社</p>
          <p>TEL | <span class="c-footer__phone">06-6231-5626</span>　受付時間 |  <span class="c-footer__time">8:45〜17:30(土日祝日を除く)</span></p>
        </div>
        <a href="./" class="c-footer__logo">
          <img src="./assets/img/footer-logo.png" alt="©KENEI Pharmaceutical">
        </a>
      </div>
    </div>
  </div>
</footer>