<header class="c-header">
  <nav class="c-header__nav">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li class="c-header__navitem">
            <a <% if (link.current || link.active) { %>class="c-header__navlink is-active"<% } else { %> class="c-header__navlink"<% } %>  href="<%= link.url %>"><%= link.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
</header>
